.header{
    /* longueur et hauteur */
    width: 100%;
    height: 75px;

    border-bottom: 2px rgb((--primary-color) , 0.2) ;
    

    display: flex;
    justify-content: center;
    align-items: center;

}

.header__nav{
    width: 100%;
    max-width: 1120px;

    display: flex;
    /* espace entre les elements sur longueur */
    justify-content: space-between;

    /* espace entre les element sur la hauteur */
    align-items: center;

    padding: 0px 10px;

     
}


.nav__logo{
    display: flex;
    align-items: center;
    gap: 14px;
}

.nav__logo-img{
    width: 100px;
    height: auto;
}
.nav__logo-title{
    font-size: var(--subheadline-font-size);
}

/* bouttons */
.nav__auth{
    display: flex;
    gap: 24px;
}

.nav__auth-button{
    padding: 10px;
    font-size: var(--body-font-size);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 300ms;
}

.nav__auth-button--singin{
    background-color: transparent;

}

.nav__auth-button--singup{
    padding: 10px 20px;
    background-color: rgb(var(--primary-color));
    color: rgb(var(--secondary-color));
}


.nav__auth-button--singin:hover{
    background-color: #DDDDDD;


}

.nav__auth-button--singup:hover{
      background-color: rgb(var(--primary-color), 0.8);
  
}